/* css */

h1 {
    color: navy;
    font-weight: bold;
  }
  .head {
    position: relative;
    background-color: bisque;
    border-radius: 40%;
    width: 150px;
    height: 210px;
    left: 40%;
  }
  .eye1 {
    position: relative;
    background-color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    top: 70px;
    left: 40px;
  }
  .eye2 {
    position: relative;
    background-color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    top: 45px;
    left: 85px;
  }
  .pupil {
    position: relative;
    background-color: black;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 8px;
    left: 9px;
  }
  .mouth{
    position: relative;
    background-color: black;
    width: 60px;
    height: 10px;
    top: 100px;
    left: 45px;
  }
  .sideleft {
    position: relative;
    background-color: #492700;
    width: 15px;
    height: 55px;
    left: -3px;
    top: -55px;
  }
  .sideright {
    position: relative;
    background-color: #492700;
    width: 15px;
    height: 55px;
    left: 136px;
    top: -110px;
  }
  .top {
    position: relative;
    background-color: #492700;
    width: 100px;
    height: 30px;
    top: -60px;
    left: 25px;
  }
  .middle {
    position: relative;
    background-color: #492700;
    width: 140px;
    height: 35px;
    top: -190px;
    left: 5px;
  }
  .neck {
    position: relative;
    background-color: bisque;
    border-radius: 35%;
    width: 80px;
    height: 20px;
    top: -40px;
    left: 35px;
  }
  .shirt {
    position: relative;
    background-color: darkblue;
    border-radius: 45%;
    width: 250px;
    height: 70px;
    top: -45px;
    left: -50px;
  }
  